.main-screen {
  width: 100%;
  height: 100%;
  animation: bgc-change 7s infinite;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.title {
  margin: auto;
}

.title div span {
  display: inline-block;
  color: rgb(255, 206, 59);
  text-shadow: 3px 3px 2px rgb(59, 31, 4);
  margin: 0 2px 0 2px;
}

.title div span:hover {
  animation: jump 0.4s ease-in-out !important;
}

button {
  margin: 0 auto 10px auto;
  width: 250px;
  border-radius: 25px;
  border: none;
  background-color: rgb(248, 231, 155);
  color: rgb(101, 84, 53);
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-text {
  display: inline-block;
}

button:hover {
  cursor: pointer;
  background-color: rgb(238, 191, 52);
}

button:hover .button-text {
  transform: rotate(-3deg);
  transition: 0.2s ease-in-out;
}

a {
  text-decoration: none;
  color: rgb(101, 84, 53);
}

a:visited {
  text-decoration: none;
  color: rgb(101, 84, 53);
}

@keyframes bgc-change {
  0% {
    background-color: rgb(188, 243, 204);
  }
  50% {
    background-color: rgb(205, 252, 223);
  }
  100% {
    background-color: rgb(188, 243, 204);
  }
}

@keyframes jump {
  0% {
  }
  50% {
    transform: translateY(10px);
  }
  100% {
  }
}
