.card-bar {
  width: 100%;
  border: solid 2px rgb(255, 230, 230);
  display: flex;
  flex-direction: row;
  height: 300px;
  justify-content: flex-start;
}

.card-bar div {
  margin-left: 10px;
}

.playable div:hover {
  transform: scale(1.01);
  transform-origin: center;
  cursor: pointer;
}

.card-enter {
  opacity: 0;
}
.card-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.card-exit {
  opacity: 1;
}
.card-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}