.card-bar {
  width: 95%;
  border: solid 2px rgb(255, 230, 230);
  display: flex;
  flex-direction: row;
  height: 300px;
  margin: auto;
  justify-content: flex-start;
}

.card-bar div {
  margin: 0 4% 0 4%;
  width: 100%;
}

.playable div:hover {
  filter: drop-shadow(0 0 7px rgb(93, 155, 129));
  transform: scale(1.011);
  transform-origin: center;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
