.card-bar {
  width: 95%;
  border: solid 2px rgb(255, 230, 230);
  display: flex;
  flex-direction: row;
  height: 300px;
  margin: auto;
  justify-content: flex-start;
}

.card-bar div {
  margin: 0 4% 0 4%;
  width: 100%;
}

.playable div:hover {
  filter: drop-shadow(0 0 7px rgb(93, 155, 129));
  transform: scale(1.011);
  transform-origin: center;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.card-enter {
  opacity: 0.5;
  transform: translateY(0px);
}

.card-enter-active {
  opacity: 1;
  transform: translateY(-100px);
  transition: transform 5s ease-in-out, opacity 2s ease-in;
}

.card-exit {
  opacity: 0;
}

.card-exit-active {
  opacity: 0;
  transition: 0s;
}
