@font-face {
  font-family: AnimalCrossing;
  src: url("./assets/FOT-RodinWanpaku\ Pro\ B.otf") format("opentype");
}

* {
  font-family: AnimalCrossing, "Courier new", monospace;
}

.stacks-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 50px 0px 50px;
}
