@font-face {
  font-family: AnimalCrossing;
  src: url("./assets/FOT-RodinWanpaku\ Pro\ B.otf") format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=Sanchez&display=swap");

* {
  font-family: AnimalCrossing, "Courier new", monospace;
}

.title div span {
  font-family: Sanchez, serif;
  font-size: 100px;
  font-weight: 600;
}

body {
  margin: 0;
}

.App {
  height: 100vh;
  margin: auto;
  width: 100%;
  justify-content: center;
  background-color: rgb(175, 224, 191);
  padding-top: 25px;
  overflow: hidden;
}

.stacks-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 50px 0px 50px;
}
