.instructions {
  height: 100%;
}

.dialogue-box {
  margin: auto;
  height: 100%;
  background: center no-repeat;
  text-align: center;
  padding: 50px 30%;
  font-size: 20px;
  color: rgb(101, 84, 53);
}

.carousel-indicators {
  bottom: -80px;
}
