.stacks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 200px;
  height: 50px;
  border: 1px solid black;
}

.stack {
  width: 50px;
  display: flex;
  flex-direction: column;
  border: solid grey 1px;
}

.stack-card {
  width: 40px;
  height: 40px;
  color: white;
}

.snow-card-enter {
  opacity: 1;
  transform: translateX(50px);
}

.snow-card-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: 5s ease-in;
}

.snow-card-exit {
  opacity: 1;
  transform: translateX(50px);
}

.snow-card-exit-active {
  opacity: 1;
  transform: translateX(0px);
  transition: 5s ease-in;
}
